{% include 'templates/layout.jinja2' %}
{%block content%}
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Add Video" href="/videos/new/"><i class="fas fa-plus"></i> </a>
        </div>
        <div class="col-5">
        
            <ul class="list-group">
                {% for video in videos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Name: {{video['name']}}<br>    
                        Theme: {{video['theme']}}
                        <form action="/videos/thumbsup/{{video['name']}}/" method="post"><button class="btn btn-success" type="submit">{{video['thumbs_up']}} <i class="far fa-thumbs-up"></i></button></form>
                        <form action="/videos/thumbsdown/{{video['name']}}/" method="post"><button class="btn btn-danger" type="submit">{{video['thumbs_down']}} <i class="far fa-thumbs-down"></i></button></form>                
                    </li>
                {% endfor %}
                
            </ul>
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}


